
mat-card {
  padding-bottom: 7rem !important;
}

.entity {
  display: block;
  font-weight: bold;
  margin-bottom: .25rem;
  color: #777;
}
.full_name {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 1rem;
}
.public-information {
  position: absolute;
  top: 0;
  right: 0;
}
.paypal-id {
  width: 15rem;
  position: absolute;
  bottom: .5rem;
  right: 1rem;
}
.locked {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  color: #999;
}
mat-slide-toggle {
  font-weight: bold;
  color: #777;
}
