/*
 * Anarchy, a Direct Democracy system. Copyright 2020 - Thomas Hansen thomas@servergardens.com
 */

h1 {
    display: block;
    text-align: center;
    margin-top: 2rem;
}

.register {
    margin:1rem 5rem 2rem 5rem;
    padding: 3rem;
    margin-top: 3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .home-link {
        position: absolute;
        top: 1rem;
        left: 1rem;
        text-decoration: none;
    }
    h3 {
        text-align: center;
        text-transform: none;
        flex: 100%;
    }
    @keyframes fly-in {
        0% {
            margin-left: -100px;
            opacity: 0;
        }
        100% {
            margin-left: 0;
            opacity: 1;
        }
    }
    .form-row {
        display: flex;
        padding-left: 5rem;
        padding-right: 5rem;
        .item {
            animation-name: fly-in;
            animation-timing-function: ease-out;
            animation-duration: .5s;
            flex: 1;
        }
        .information {
            color: #a0a0a0;
            text-align: justify;
            font-size: .8rem;
        }
    }
    @keyframes blink {
        0% {
            background-color: #a0ffa0;
            box-shadow: 0 0 25px rgba(255,255,128,1);
        }
        100% {
            background-color: #e0ffe0;
            box-shadow: 0 0 15px rgba(255,255,128,.5);
        }
    }
    .submit {
        button {
            position:absolute;
            top: 1rem;
            right: 1rem;
            animation-name: blink;
            animation-timing-function: ease-out;
            animation-duration: .5s;
            animation-fill-mode: forwards;
            border: solid 1px rgba(0,0,0,.05);
            width: 10rem;
        }
    }
}
