/*
 * Anarchy, a Direct Democracy system. Copyright 2020 - Thomas Hansen thomas@servergardens.com
 */

h1 {
    display: block;
    text-align: center;
    margin-top: 2rem;
}

.register {
    margin:1rem 5rem 2rem 5rem;
    padding: 3rem;
    margin-top: 3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .stepper {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: #a0a0a0;
    }
    .progress {
        margin: 2rem 5rem 2rem 5rem;
    }
    h3 {
        text-align: center;
        text-transform: none;
        flex: 100%;
    }
    @keyframes fly-in {
        0% {
            margin-left: -100px;
            opacity: 0;
        }
        100% {
            margin-left: 0;
            opacity: 1;
        }
    }
    .form-row {
        display: flex;
        padding-left: 5rem;
        padding-right: 5rem;
        .item {
            animation-name: fly-in;
            animation-timing-function: ease-out;
            animation-duration: .5s;
            flex: 1;
        }
        .info {
            animation-name: fly-in;
            animation-timing-function: ease-out;
            animation-duration: .5s;
            color: #a0a0a0;
            flex: 1;
            margin-bottom: 3rem;
        }
        .information {
            color: #a0a0a0;
            text-align: justify;
            font-size: .8rem;
            ::ng-deep.bottom-slogan {
                text-align: center;
                font-weight: bold;
                color: #303030;
                display: block;
                font-size: 1.1rem;
                margin-top: 1rem;
                margin-top: 2rem;
                margin-bottom: 1rem;
            }
        }
    }
    .form-row.center {
        mat-checkbox {
            margin-left: auto;
            margin-right: auto;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
    @keyframes blink {
        0% {
            background-color: #a0ffa0;
            box-shadow: 0 0 25px rgba(255,255,128,1);
        }
        100% {
            background-color: #e0ffe0;
            box-shadow: 0 0 15px rgba(255,255,128,.5);
        }
    }
    .password mat-icon,
    .password-repeat mat-icon {
        margin-top: -12px;
        right: 12px;
        float: right;
        color: #a0a0ff;
        cursor: pointer;
        z-index: 1000;
        position: absolute;
    }
    .name mat-icon,
    .phone mat-icon {
        margin-top: -12px;
        right: 12px;
        float: right;
        color: #a0a0ff;
        cursor: pointer;
        z-index: 1000;
        position: absolute;
    }
    .submit {
        margin: 2rem 5rem 2rem 5rem;
        text-align: center;
        button {
            animation-name: blink;
            animation-timing-function: ease-out;
            animation-duration: .5s;
            animation-fill-mode: forwards;
            border: solid 1px rgba(0,0,0,.05);
            width: 10rem;
        }
    }
}
