
<h1>Register</h1>

<re-captcha
  size="invisible"
  #invisible
  (resolved)="captchaResolved($event)"></re-captcha>

<mat-card
  *ngIf="!done"
  class="register">

  <div class="progress">
    <mat-progress-bar
      mode="determinate"
      [matTooltip]="translate('ProgressOfRegistration')"
      [value]="progress"></mat-progress-bar>
  </div>

  <div class="form-row">

    <mat-form-field
      class="email item">
      <mat-label>{{emailGood === false ? translate('EmailMustBeAvilable') : translate('Email')}}</mat-label>
      <input
        matInput
        [placeholder]="translate('Email') + ' ...'"
        type="text"
        autocomplete="off"
        [formControl]="email">
    </mat-form-field>

  </div>

  <div class="form-row">

    <mat-form-field
      *ngIf="emailGood === true"
      class="username item">
      <mat-label>{{usernameGood === false ? translate('UsernameCharacterPattern') : translate('Username')}}</mat-label>
      <input
        matInput
        placeholder="translate('Username') + ' ...'"
        type="text"
        autocomplete="off"
        [formControl]="username">
    </mat-form-field>

  </div>

  <div class="form-row">

    <mat-form-field
      *ngIf="usernameGood === true"
      class="name item">
      <mat-label>{{nameGood === false ? translate('NamePattern') : translate('FullLegalName')}}</mat-label>
      <input
        matInput
        [placeholder]="translate('FullLegalName') + ' ...'"
        type="text"
        autocomplete="off"
        [formControl]="name">
      <mat-icon
        [matTooltip]="translate('Why')"
        (click)="showNameInformation()">help</mat-icon>
    </mat-form-field>

  </div>

  <div
    *ngIf="showNameInfo"
    class="form-row">

    <div class="info" [innerHtml]="translate('NameInformation')">
    </div>

  </div>

  <div class="form-row">

    <mat-form-field
      *ngIf="nameGood === true"
      class="phone item">
      <mat-label>{{phoneGood === false ? translate('PhonePattern') : translate('CellPhone')}}</mat-label>
      <input
        matInput
        placeholder="translate('CellPhone') + ' ...'"
        type="text"
        autocomplete="off"
        [formControl]="phone">
      <mat-icon
        [matTooltip]="translate('Why')"
        (click)="showPhoneInformation()">help</mat-icon>
    </mat-form-field>

  </div>

  <div
    *ngIf="showPhoneInfo"
    class="form-row">

    <div class="info" [innerHtml]="translate('PhoneInfo')"></div>

  </div>

  <div class="form-row">

    <mat-form-field
      *ngIf="nameGood === true && phoneGood === true && usernameGood === true && nameGood === true"
      class="password item">
      <mat-label>{{passwordGood === false ? translate('PasswordMustBeAtLeast') : translate('Password')}}</mat-label>
      <input
        matInput
        placeholder="translate('Password') + ' ...'"
        [type]="passwordReadable ? 'text' : 'password'"
        autocomplete="new-password"
        [formControl]="password">
      <mat-icon
        (click)="togglePasswordReadability()">remove_red_eye</mat-icon>
    </mat-form-field>

  </div>

  <div class="form-row">

    <mat-form-field
      *ngIf="nameGood === true && phoneGood === true && usernameGood === true && nameGood === true"
      class="password-repeat item">
      <mat-label>{{passwordRepeatGood === false ? translate('PleaseRepeatPassword') : translate('RepeatPassword')}}</mat-label>
      <input
        matInput
        [placeholder]="translate('RepeatPassword') + ' ...'"
        [type]="passwordRepeatReadable ? 'text' : 'password'"
        autocomplete="new-password"
        [formControl]="passwordRepeat">
    </mat-form-field>

  </div>

  <div class="form-row">

    <div
      *ngIf="passwordRepeatGood === true && passwordGood === true && phoneGood === true && emailGood === true && usernameGood === true"
      class="information item">

      <div [innerHtml]="translate('TermsAndConditions')"></div>

    </div>

  </div>

  <div class="form-row center">

    <mat-checkbox
      *ngIf="passwordRepeatGood === true && passwordGood === true && phoneGood === true && emailGood === true && usernameGood === true"
      [(ngModel)]="agree">{{translate('IAgreeToTermsAndConditions')}}</mat-checkbox>

  </div>

  <div
    class="submit"
    *ngIf="passwordRepeatGood === true && passwordGood === true && phoneGood === true && emailGood === true && usernameGood === true">

    <button
      [matTooltip]="translate('ConfirmThatYouAreHuman')"
      mat-button
      [disabled]="!agree"
      (click)="invisible.execute()">
      {{translate('IAmHuman')}}
    </button>

  </div>

  <div
    class="submit"
    *ngIf="captchaResponse">

    <button
      [matTooltip]="translate('SubmitFormAndRegister')"
      mat-button
      (click)="register()">
      {{translate('Submit')}}
    </button>

  </div>

</mat-card>

<mat-card
  *ngIf="done"
  class="register">
  <p>
    {{translate('ConfirmEmailAddress')}}
  </p>
</mat-card>
