
<h1>Register</h1>

<mat-card
  *ngIf="!done"
  class="register">

  <a
    class="home-link"
    mat-button
    routerLink="/">
    <mat-icon>home</mat-icon>
  </a>

  <div class="progress">
    <mat-progress-bar
      mode="determinate"
      [value]="progress"></mat-progress-bar>
  </div>

  <div class="form-row">

    <mat-form-field
      class="email item">
      <mat-label>{{emailGood === false ? 'Email must be valid and available' : 'Email'}}</mat-label>
      <input
        matInput
        placeholder="Email ..."
        type="text"
        autocomplete="off"
        [formControl]="email">
    </mat-form-field>

  </div>

  <div class="form-row">

    <mat-form-field
      *ngIf="emailGood === true"
      class="username item">
      <mat-label>{{usernameGood === false ? 'Username cannot be your email address' : 'Username'}}</mat-label>
      <input
        matInput
        placeholder="Username ..."
        type="text"
        autocomplete="off"
        [formControl]="username">
    </mat-form-field>

  </div>

  <div class="form-row">

    <mat-form-field
      *ngIf="usernameGood === true"
      class="name item">
      <mat-label>{{nameGood === false ? 'Name must be your full legal name' : 'Full legal name'}}</mat-label>
      <input
        matInput
        placeholder="Full name ..."
        type="text"
        autocomplete="off"
        [formControl]="name">
      <mat-icon
        matTooltip="Why ...?"
        (click)="showNameInformation()">help</mat-icon>
    </mat-form-field>

  </div>

  <div class="form-row">

    <mat-form-field
      *ngIf="nameGood === true"
      class="phone item">
      <mat-label>{{phoneGood === false ? 'Phone number must be a registered cell phone in your name, and contain only numbers (no spaces)' : 'Cell phone'}}</mat-label>
      <input
        matInput
        placeholder="Cell phone ..."
        type="text"
        autocomplete="off"
        [formControl]="phone">
      <mat-icon
        matTooltip="Why ...?"
        (click)="showPhoneInformation()">help</mat-icon>
    </mat-form-field>

  </div>

  <div class="form-row">

    <mat-form-field
      *ngIf="nameGood === true && phoneGood === true && usernameGood === true && nameGood === true"
      class="password item">
      <mat-label>{{passwordGood === false ? 'Password must be at least 10 characters long' : 'Password'}}</mat-label>
      <input
        matInput
        placeholder="Password ..."
        [type]="passwordReadable ? 'text' : 'password'"
        autocomplete="new-password"
        [formControl]="password">
      <mat-icon
        (click)="togglePasswordReadability()">remove_red_eye</mat-icon>
    </mat-form-field>

  </div>

  <div class="form-row">

    <mat-form-field
      *ngIf="nameGood === true && phoneGood === true && usernameGood === true && nameGood === true"
      class="password-repeat item">
      <mat-label>{{passwordRepeatGood === false ? 'Please repeat your password' : 'Repeat password'}}</mat-label>
      <input
        matInput
        placeholder="Password repeat ..."
        [type]="passwordRepeatReadable ? 'text' : 'password'"
        autocomplete="new-password"
        [formControl]="passwordRepeat">
    </mat-form-field>

  </div>

  <div class="form-row">

    <div
      *ngIf="passwordRepeatGood === true && passwordGood === true && phoneGood === true && emailGood === true && usernameGood === true"
      class="information item">
      <p>
        By clicking the Submit button, you promise us that the above information is
        accurate, that you have given us your full legal name, a cell phone number registered
        in your name, and that you accept the terms and conditions of the site.
        You also accept that we are allowed to occassionally send you marketing emails,
        according to your registered preferences, and that we might include 3rd party
        marketing material in these emails.
      </p>
      <p>
        We might also send you a text message to your registered phone, to verify
        that it belongs to you - And we might also check up the yellow pages, to verify that
        you have given us your correct full name, as can be found in official public archives
        where you live.
        This is necessary in order to make sure votes you cast are as legally sound as possible,
        and to such use your vote to influence politicians in and around the area where you live.
      </p>
      <p>
        Votes you cast are kept private, and will not be shared by us with the general public, and
        your cell phone number or email will never be shared with any 3rd parties. However, your
        legal name is publicly available, in addition to your region(s) - But exactly how you
        choose to vote, is never disclosed by us to any 3rd parties, unless required by a 3rd party
        auditing organisation, such as the United Nations or WikiLeaks to validate votes in a case.
      </p>
      <p>
        Welcome to AnarchU! Direct Democracy! Where Your Voice Matters! We simply exchanged the Y,
        with U, and then it all started making sense!
      </p>
      <label class="bottom-slogan">Free Speech, One Each!</label>
    </div>

  </div>

  <div
    class="submit"
    *ngIf="passwordRepeatGood === true && passwordGood === true && phoneGood === true && emailGood === true && usernameGood === true">

    <button
      matTooltip="Submit form and accept the terms and conditions of the site"
      mat-button
      (click)="register()">
      Submit
    </button>

  </div>

</mat-card>

<mat-card
  *ngIf="done"
  class="register">

  <a
    class="home-link"
    routerLink="/">
    home
  </a>

  <p>
    Now confirm your email address.
  </p>
</mat-card>
