/*
 * Anarchy, a Direct Democracy system. Copyright 2020 - Thomas Hansen thomas@servergardens.com
 */

.login-card {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.sidenav-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 1.2rem;
}

@media print {
    .sidenav-button {
        display: none;
    }
}

@keyframes waiter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ajax-wait {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vw;
    background-color: rgba(0,0,0,.5);
    z-index: 1000;
    animation: waiter .5s ease-in;
    animation-fill-mode: forwards;
}
.spinner {
    position: absolute;
    top: 3rem;
    right: 3rem;
}

.login-strip {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

@media print {
    .login-strip {
        display: none;
    }
}
