
<h1>Audit your vote</h1>

<div class="component-wrapper">

  <div
    [ngClass]="getCssClass()"
    class="mat-elevation-z4 audit">

    <h4>{{hash}}</h4>

    <mat-icon
      class="checks-out"
      matTooltip="SHA256 is good"
      *ngIf="voteGood === true">check</mat-icon>

    <div
      *ngIf="voteGood === true">
      <p>
        Receipt checks out, and does not seem to have been tampered with. In case an external
        auditing of the system is required, you might need to forward your original receipt (email)
        to an independent 3rd party organisation.
      </p>
      <p>
        <strong>
          AnarQ will never disclose your vote to anybody, except an independent 3rd party
          auditing organisation, appointed by the United Nations.
        </strong>
      </p>
      <p>
        <a
          [routerLink]="'/case/' + caseId">
          Check out how the case is proceeding
        </a>
      </p>
      <a
        *ngIf="previous !== null"
        mat-stroked-button
        class="previous"
        [routerLink]="'/audit-vote/' + previous">
        Previous receipt
      </a>
    </div>

    <mat-icon
      class="tampered-with"
      *ngIf="voteGood === false">error</mat-icon>

    <div
      *ngIf="voteGood === false"
      class="danger">
      <p>
        {{extra}}
      </p>
    </div>

  </div>

  <a
    *ngIf="voteGood === true"
    mat-stroked-button
    class="home-button"
    routerLink="/">
    Home
  </a>

</div>
