
mat-toolbar {
  .logo {
    color: whitesmoke;
    text-decoration: none;    
  }
  .spacer {
    flex: 1 1 auto;
  }
  .feed {
    margin-right: 1rem;
  }
  .users {
    margin-right: 1rem;
  }
  .donate {
    margin-right: 1rem;
  }
  .create {
    margin-left: 1rem;
  }
}