
<mat-toolbar color="primary">

  <span>
    <a routerLink="/" class="logo">Feed</a>
  </span>

  <span class="spacer"></span>

  <a
    *ngIf="stateService.isLoggedIn"
    routerLink="/donate"
    class="donate"
    mat-button>Donate</a>

  <button
    *ngIf="stateService.isLoggedIn"
    mat-button
    (click)="logout()">Logout</button>

  <a
    *ngIf="!stateService.isLoggedIn"
    routerLink="/register"
    mat-button>Register</a>

  <a
    *ngIf="!stateService.isLoggedIn"
    routerLink="/login"
    mat-button>Login</a>

  <a
    *ngIf="stateService.isLoggedIn"
    class="create"
    mat-button
    routerLink="/create">
    New ...
  </a>

</mat-toolbar>
