
mat-toolbar {
  .logo {
    background-image: url(/assets/anarq.svg);
    background-size: cover;
    width: 14rem;
    height: 4rem;
    display: block;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .feed {
    margin-right: 1rem;
  }
  .me {
    margin-right: 1rem;
  }
  .users {
    margin-right: 1rem;
  }
  .donate {
    margin-right: 1rem;
  }
  .create {
    margin-left: 1rem;
  }
}