
mat-card {
  margin: 2rem auto 2rem auto;
  width: 60rem;
  padding: 2rem 2rem 3rem 2rem;
  position: relative;
  .topic {
    margin-bottom: 1rem;
    padding: 2rem 2rem 1rem 2rem;
    background-color: #f5f5f5;
    border-radius: .5rem;
    position: relative;
    .delete-button {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .last_activity {
      position: absolute;
      top: .5rem;
      right: .5rem;
      color: #999;
      font-size: .8rem;
      font-style: italic;
    }
    h3 {
      font-weight: bold;
    }
  }
}
