
<a
  class="home-link"
  [matTooltip]="translate('Home')"
  mat-button
  routerLink="/">
  <mat-icon>home</mat-icon>
</a>

<div
  *ngIf="item"
  [ngClass]="getCssClassForCase()"
  class="page case">

  <div
    *ngIf="firstCase"
    class="first-information">

    <button
      mat-stroked-button
      class="close"
      (click)="closeInfo()">
      {{translate('AllRightBaby')}}
    </button>

    <div
      *ngIf="firstCase"
      [innerHtml]="translate('ReadThisFirstCase')"></div>

  </div>

  <h1>
    {{item.subject}}
  </h1>

  <div
    class="content"
    [innerHtml]="item.body | marked"></div>

  <div
    *ngIf="!isLoggedIn"
    class="register-to-vote">
    <a
      routerLink="/register"
      mat-raised-button>
      {{translate('RegisterToVote')}}
    </a>
    <button
      mat-raised-button
      (click)="showLoginForm()">
      {{translate('Login')}}
    </button>
  </div>

  <div
    class="voting-bar"
    *ngIf="item.opinion === undefined && isLoggedIn && item.closed !== 1">

    <button
      (click)="yes()"
      [disabled]="loaderService.isLoading | async"
      class="yes"
      [matTooltip]="translate('VoteAyeForCase')"
      mat-stroked-button>
      <mat-icon>thumb_up</mat-icon>
    </button>

    <button
      (click)="no()"
      [disabled]="loaderService.isLoading | async"
      class="no"
      [matTooltip]="translate('VoteNayForCase')"
      mat-stroked-button>
      <mat-icon>thumb_down</mat-icon>
    </button>

  </div>

  <div
    class="voting-bar"
    [ngClass]="getClass()"
    *ngIf="item.opinion !== undefined && isLoggedIn">

    <mat-icon
      class="your-vote"
      role="button"
      [matTooltip]="translate('YouVotedAye')"
      *ngIf="item.opinion === true">thumb_up</mat-icon>

    <mat-icon
      class="your-vote"
      role="button"
      [matTooltip]="translate('YouVotedNay')"
      *ngIf="item.opinion === false">thumb_down</mat-icon>

  </div>

  <qrcode
    class="qr-code"
    [qrdata]="getCaseUrl()"
    [width]="128"
    [errorCorrectionLevel]="'M'"></qrcode>

  <div
    *ngIf="item.closed !== 1"
    class="qr-code-description">
    {{translate('VoteForCaseAbove')}}
  </div>

  <div
    *ngIf="item.closed === 1"
    class="qr-code-description">
    {{translate('CheckOutHowTheCaseDid')}}
  </div>

  <div
    class="action-bar">
    <ul>
      <li>
        <a
          [matTooltip]="translate('QuestionWasAskedIn', [capitalize(item.region)])"
          [routerLink]="'/region/' + item.region">
          {{capitalize(item.region)}}
        </a>
      </li>
      <li>
        <a
          [matTooltip]="translate('CaseWasBroughtForthBy', [item.user])"
          [routerLink]="'/user/' + item.user">
          {{item.user}}
        </a>
      </li>
      <li
        *ngIf="item.closed === 0"
        [matTooltip]="translate('VotesCanBeCastUntil', [item.deadline | date_format])">
        {{item.deadline | toDate}}
      </li>
      <li
        *ngIf="item.closed === 1">
        {{getCaseResult()}}
      </li>
      <li
        [matTooltip]="translate('XAyeAndUNay', [item.positive, item.negative])">
        {{item.positive}} / {{item.negative}}
      </li>
    </ul>

  </div>
</div>
