
<div class="component-wrapper">

  <div
    *ngIf="item"
    class="mat-elevation-z4 case">
    <a
      class="home-link"
      routerLink="/">
      home
    </a>
    <qrcode
      class="qr-code"
      [qrdata]="getCaseUrl()"
      [width]="128"
      [errorCorrectionLevel]="'M'"></qrcode>
    <h1>
      {{item.subject}}
    </h1>
    <div
      [innerHtml]="item.body | marked"></div>
    <div class="meta-data">
      <div class="item">
        {{item.region}}
      </div>
      <div class="item">
        <a
          class="user-link"
          [routerLink]="'/user/' + item.user">
          {{item.user}}
        </a>
      </div>
      <div class="item">
        {{item.created | date_format_short}}
      </div>
      <div class="item">
        {{item.deadline | date_format_short}}
      </div>
    </div>
  </div>

</div>
<div class="copyright">
  Anarchy is Copyright © Thomas Hansen, info@servergardens.com, all rights reserved
</div>
