/*
 * Anarchy, a Direct Democracy system. Copyright 2020 - Thomas Hansen thomas@servergardens.com
 */

.case {
    margin:1rem 5rem 2rem 5rem;
    padding: 3rem;
    margin-top: 3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    h1 {
        text-align: center;
    }
    .home-link {
        position: absolute;
        top: 1rem;
        right: 1rem;
        text-decoration: none;
    }
    .votes-chart {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .content {
        text-align: justify;
    }
    .qr-code {
        display: none;
        text-align: center;
    }
    .qr-code-description {
        display: none;
        text-align: center;
    }
    @media print {
        .home-link {
            display: none;
        }
        .qr-code {
            display: block;
            margin: 2rem auto 1rem auto;
        }
        .qr-code-description {
            display: block;
            margin-left: auto;
            margin-right: auto;
            color: #b0b0b0;
            font-size: .7rem;
        }
    }
    .meta-data {
        padding: 1rem;
        display: flex;
        background-color: #fafafa;
        margin-top: 1rem;
        margin-left: -1rem;
        margin-right: -1rem;
        color: #a0a0a0;
        .item {
            flex: 1;
            .user-link {
                text-decoration: none;
            }
            .region-link {
                text-transform: capitalize;
                text-decoration: none;
            }
        }
        .item.count {
            text-align: right;
        }
    }
    @media print {
        .meta-data {
            display: none;
        }
    }
    .action-bar {
        text-align: center;
        margin-top: 2rem;
        padding: 1rem;
        .yes {
            width: 10rem;
            margin-right: 1rem;
        }
        .no {
            width: 10rem;
        }
        .your-vote {
            font-size: 2rem;
        }
    }
    @media print {
        .action-bar {
            display: none;
        }
    }
}

@media print {
    .case {
        box-shadow: none;
    }
}

@media (max-width: 1080px) {
    .case.mat-elevation-z4 {
        box-shadow: none;
        margin: 0;
        width: calc(100% - 6rem);
        max-width: calc(100% - 4rem);
        box-sizing: content-box;
    }
}
