/*
 * Anarchy, a Direct Democracy system. Copyright 2020 - Thomas Hansen thomas@servergardens.com
 */

.case {
    margin:1rem 5rem 2rem 5rem;
    padding: 3rem;
    margin-top: 3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .home-link {
        position: absolute;
        top: 1rem;
        left: 1rem;
        text-decoration: none;
    }
    .qr-code {
        float: right;
        margin-top: -2rem;
        margin-right: -2rem;
    }
    .meta-data {
        padding: 1rem;
        display: flex;
        background-color: #fafafa;
        margin-top: 3rem;
        margin-left: -1rem;
        margin-right: -1rem;
        font-style: italic;
        color: #a0a0a0;
        font-size: .8rem;
        .item {
            flex: 1;
        }
    }
}

.copyright {
    margin: 3rem auto 5rem auto;
    text-align: center;
    font-size: 0.9rem;
    color:#aaaaaa;
}
