/*
 * Anarchy, a Direct Democracy system. Copyright 2020 - Thomas Hansen thomas@servergardens.com
 */

h1 {
    display: block;
    text-align: center;
    margin-top: 2rem;
}
.ask {
    margin: -1.75rem 5rem 2rem 5rem;
    padding: 3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .home-link {
        position: absolute;
        top: 1rem;
        right: 1rem;
        text-decoration: none;
    }
    .subject {
        width: 100%;
    }
    .body-label {
        display: block;
        margin-bottom: .25rem;
    }
    .submit {
        text-align: right;
    }
}
