
<h1>Ask a question in '{{region}}'</h1>

<div class="component-wrapper">

  <div
    class="mat-elevation-z4 ask">

    <div
      *ngIf="canCreateCase === false && isLoggedIn">
      You cannot create a case in '{{region}}' since you just recently created one.
      <ul>
        <li>For 'norge' you can only create one case per week</li>
        <li>For all other regions you can create one case every day</li>
      </ul>
      This is to avoid a single user spamming the entire feed, asking too many questions.
    </div>

    <div
      *ngIf="!isLoggedIn">
      Only logged in users can create cases.
    </div>

    <mat-form-field
      *ngIf="canCreateCase"
      class="subject">
      <mat-label>{{subjectGood === false ? 'Subject must be 15-100 characters long, and end with a question mark ?' : (subjectGood === null ? 'Subject' : 'Acceptable')}}</mat-label>
      <input
        matInput
        placeholder="Subject ..."
        type="text"
        autocomplete="off"
        [formControl]="subject">
    </mat-form-field>

    <label
      class="body-label">{{'Body (Markdown ' + body.length + '/2.500)' }}</label>

    <ngx-codemirror
      [(ngModel)]="body"
      [options]="getCodeMirrorOptions()"></ngx-codemirror>

    <div class="submit">
      <button
        mat-button
        (click)="submit()">
        Submit
      </button>
    </div>

  </div>

</div>
