
<h1>Ask a question in {{capitalize(region)}}</h1>

<div class="component-wrapper">

  <div
    class="mat-elevation-z4 ask">

    <div
      *ngIf="canCreateCase === false && isLoggedIn">
      You cannot create a case in '{{region}}' since you just recently created one.
      <ul>
        <li>For 'norge' you can only create one case per week</li>
        <li>For all other regions you can create one case every day</li>
      </ul>
      This is to avoid a single user spamming the entire feed, asking too many questions.
    </div>

    <div
      *ngIf="!isLoggedIn">
      Only logged in users can create cases.
    </div>

    <div
      *ngIf="showInfo"
      class="first-information">
      <button
        mat-stroked-button
        class="close"
        (click)="closeInfo()">
        OK, I get it!
      </button>
      <h3>READ THIS FIRST!</h3>
      <p>
        Since this is the first case you create, you should <strong>carefully read the following information</strong>,
        to avoid problems and confusion. Don't worry though, we won't show it to you again, after you have created
        your first case.
      </p>
      <ol>
        <li>Our servers are hosted in Sweden, which means that what you write must be legal according to <strong>SWEDISH LAW</strong></li>
        <li>Besides from that, we don't allow posts that can be perrceived as bullying of vulnerable individuals</li>
        <li>Ever question's subject must end with a question mark '?', then in its description you can write more informally to rally support for whatever side you want. However, the subject must be a valid question</li>
        <li>Every case must have a clearly defined yes/no answer, making it easy for others to understand what their votes imply. All cases that are difficult to <strong>clearly answer yes or no to</strong>, will be rejected by a moderator</li>
        <li>You can only create <strong>one case PER DAY in the region of Norge</strong>, so phrase your case carefully</li>
        <li>You can only create <strong>one case every 3 hours in other regions</strong>, so phrase your case carefully</li>
        <li>The reasons for the above rules, is to avoid a single individual completely taking over the front page feed, both at the national level, and at the regional level</li>
        <li>You cannot delete your case, and neither will we delete cases, unless they are phrased such that it is impossible to give a clear yes/no answer to, or they for some reasons do not follow the other rules here. <strong>So phrase your case carefully</strong>. Your case might very well never be possible to delete due to these reasons. So make sure you are willing to publicly ask whatever question you are about to ask before you click the submit button.</li>
        <li><strong>NO LYNCHING HERE!</strong> We will censor cases that we for personal reasons feel are attempts at lynching individuals</li>
        <li><strong>NO OUTING OF CHILDREN</strong>, in any ways, what so ever - And <strong>especially not</strong> anything that might be seen as <strong>sexually explicit content</strong> about children. If you mention the full names, and/or personal data, of any human being below the age of 18, <strong>WE WILL CENSOR YOUR CASE</strong>!</li>
        <li>Your subject line must be between 15 and 100 characters long, and it must end with a question mark</li>
        <li>Your content must be between 50 and 2500 characters long</li>
      </ol>
      <p>
        Any case not according to the above terms and conditions, will be rejected and censored. AnarQ is first and foremost
        an attempt at creating a serious <strong>Direct Democratic Political System</strong>, to influence our government to
        do the right thing - And not your <em>"traditional social media platform"</em>. However, it is allowed to have fun here ... :)
      </p>
      <p>
        As a general rule of thumb though, you will probably experience that you have much larger Freedom of Speeech
        at AnarQ, than you have most other places online, and we are very careful when it comes to censoring cases. In fact,
        the Swedish Freedom of Speech laws, combined with our ISP's extreme believe in these laws (they are the ones
        hosting WikiLeaks.Org), are the reasons why we are hosting our site in Sweden. In general, Sweden have some
        of the most liberal Freedom of Speech Laws in Europe, and we intend to take advantage of that to the <strong>full extent of the law</strong>.
      </p>
      <span class="slogan">Happy AnarQ :)</span>
    </div>

    <mat-form-field
      *ngIf="canCreateCase"
      class="subject">
      <mat-label>{{subjectGood === false ? 'Subject must be 15-100 characters long, and end with a question mark ?' : (subjectGood === null ? 'Subject' : 'Acceptable')}}</mat-label>
      <input
        matInput
        placeholder="Subject ..."
        type="text"
        autocomplete="off"
        [formControl]="subject">
    </mat-form-field>

    <label
      class="body-label">{{'Body (Markdown ' + body.length + '/2500)' }}</label>

    <ngx-codemirror
      [(ngModel)]="body"
      [options]="getCodeMirrorOptions()"></ngx-codemirror>

    <div class="submit">
      <button
        mat-button
        (click)="submit()">
        Submit
      </button>
    </div>

  </div>

</div>
