/*
 * AnarQ, a Direct Democracy system. Copyright 2020 - Thomas Hansen thomas@servergardens.com
 */

.ask {
    .first-information {
        background-color: #e0ffe0;
        border-radius: .5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 4rem 2rem 3rem 2rem;
        position: relative;
        ::ng-deep h3 {
            text-transform: none !important;
        }
        .close {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }
        ::ng-deep.slogan {
            text-align: center;
            display: block;
            font-weight: bold;
            font-size: 1.2rem;
            margin-top:2rem;
            margin-bottom: 2rem;
        }
    }
    .subject {
        width: 100%;
    }
    .submit {
        text-align: right;
        margin-top: 1rem;
        mat-select {
            width: 10rem;
        }
        .deadline-info {
            color: #a0a0a0;
        }
        button {
            width: 5rem;
            margin-top: 1rem;
            margin-left: 1rem;
        }
    }
}
