/*
 * Anarchy, a Direct Democracy system. Copyright 2020 - Thomas Hansen thomas@servergardens.com
 */

h1 {
    display: block;
    text-align: center;
    margin-top: 2rem;
}
.ask {
    margin: -1.75rem 5rem 2rem 5rem;
    padding: 3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .first-information {
        background-color: #e0ffe0;
        border-radius: .5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 4rem 2rem 3rem 2rem;
        position: relative;
        h3 {
            text-transform: none;
        }
        .close {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }
        .slogan {
            text-align: center;
            display: block;
            font-weight: bold;
            font-size: 1.2rem;
            margin-top:2rem;
            margin-bottom: 2rem;
        }
    }
    .subject {
        width: 100%;
    }
    .body-label {
        display: block;
        margin-bottom: .25rem;
    }
    .submit {
        text-align: right;
        margin-top: 1rem;
        mat-form-field {
            width: 10rem;
            display: inline-block;
            margin-right: 1rem;
        }
        button {
            width: 10rem;
        }
    }
}
