
<h1 mat-dialog-title>{{data.isEdit ? 'Edit' : 'Create'}} Pgp_keys</h1>
<div mat-dialog-content>

  <mat-form-field
    *ngIf="canEditColumn('id')"
    class="entity-edit-field">
    <input
      matInput
      type="number"
      step="1"
      placeholder="id"
      [(ngModel)]="data.entity.id"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('user')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="user"
      [(ngModel)]="data.entity.user"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('key_id')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="key_id"
      [(ngModel)]="data.entity.key_id"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('type')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="type"
      [(ngModel)]="data.entity.type"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('fingerprint')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="fingerprint"
      [(ngModel)]="data.entity.fingerprint"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('created')"
    class="entity-edit-field">
    <input
      matInput
      placeholder="created"
      [owlDateTime]="pickercreated"
      [(ngModel)]="data.entity.created"
      autocomplete="off">
    <owl-date-time #pickercreated></owl-date-time>
    <mat-datepicker-toggle matSuffix [for]="pickercreated">
      <mat-icon matSuffix matDatepickerToggleIcon>calendar_today</mat-icon>
    </mat-datepicker-toggle>
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('expires')"
    class="entity-edit-field">
    <input
      matInput
      placeholder="expires"
      [owlDateTime]="pickerexpires"
      [(ngModel)]="data.entity.expires"
      autocomplete="off">
    <owl-date-time #pickerexpires></owl-date-time>
    <mat-datepicker-toggle matSuffix [for]="pickerexpires">
      <mat-icon matSuffix matDatepickerToggleIcon>calendar_today</mat-icon>
    </mat-datepicker-toggle>
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('strength')"
    class="entity-edit-field">
    <input
      matInput
      type="number"
      step="1"
      placeholder="strength"
      [(ngModel)]="data.entity.strength"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('content')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="content"
      [(ngModel)]="data.entity.content"
      autocomplete="off">
  </mat-form-field>

</div>

<div mat-dialog-actions>

  <div class="right-aligned">

    <button 
      mat-raised-button
      color="primary"
      (click)="save()">Save</button>

    <button
      mat-button
      (click)="cancel()">Cancel</button>

  </div>

</div>
