
<img 
  src="../assets/justice.svg" 
  class="logo"
  matTooltip="Replacing the Y with U"
  alt="Replacing the Y with U">

<mat-card class="info-card">

  <div
    *ngIf="!cases || cases.length === 0"
    class="information">
    Seems that you are all caught up :)
  </div>

  <ul class="front-page-cases">
    <li
      *ngFor="let idx of cases">
      <a
        class="case-link"
        [routerLink]="'/case/' + idx.id">
        {{idx.subject}}
      </a>
      <small>
        {{idx.region}} ({{idx.positive + '/' + (idx.votes - idx.positive)}})
      </small>
    </li>
  </ul>

  <button
    *ngIf="more"
    mat-button
    class="feed-more"
    matTooltip="Get 5 next items"
    (click)="getNextBatch()">
    More
  </button>

  <div
    *ngIf="regions.length > 0"
    class="regions">
    <ul>
      <li
        *ngFor="let idx of regions">
        <a
          class="region-link"
          [routerLink]="'/region/' + idx">
          {{idx}}
        </a>
      </li>
    </ul>
  </div>

</mat-card>
