
<h1>Anarchu</h1>
<small class="slogan">Hvor DU er lovgivende og dømmende myndighet</small>

<mat-card class="info-card">

  <div
    *ngIf="hasNoCases()"
    class="information">
    There are no cases in system, what don't you create one?
  </div>

  <ul class="front-page-cases">
    <li
      *ngFor="let case of cases">
      <a
        class="case-link"
        [routerLink]="'/case/' + case.id">
        {{case.subject}}
      </a>
      <small>
        {{case.region}}
      </small>
    </li>
  </ul>

  <button
    *ngIf="more"
    mat-button
    class="feed-more"
    matTooltip="Get 5 next items"
    (click)="getMore()">
    ...
  </button>

</mat-card>
