/*
 * AnarQ, a Direct Democracy system. Copyright 2020 - Thomas Hansen thomas@servergardens.com
 */

h1 {
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    margin: 0;
    font-size: 1.4rem;
}

@media (min-width: 1024px) {
    .home-page {
        padding: 4rem 2rem 0 2rem;
    }
}

@media (max-width: 1024px) {
    .home-page {
        padding: 0 2rem 0 2rem;
    }
}

.home-page {
    .sorting {
        width: 9rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    @media (min-width: 1024px) {
        .sorting {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }
}
