/*
 * Anarchy, a Direct Democracy system. Copyright 2020 - Thomas Hansen thomas@servergardens.com
 */

h1 {
    text-align: center;
    margin-top: 3rem;
}
small {
    font-size: 1rem;
    color: #a0a0a0;
    text-align: center;
    display: block;
}
.info-card {
    margin:1rem 5rem 2rem 5rem;
    padding: 3rem;
    margin-top: 3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    .front-page-cases {
        list-style-type: none;
        padding-left: 0;
        li {
            margin-top: 1rem;
        }
    }
}

.copyright {
    margin: 3rem auto 5rem auto;
    text-align: center;
    font-size: 0.9rem;
    color:#aaaaaa;
}
