
<img 
  src="../assets/logo.svg"
  class="logo"
  alt="Occupy Democracy!">
<mat-card class="info-card">

  <ul class="front-page-cases">
    <li *ngFor="let case of cases">
      <a
        class="case-link"
        [routerLink]="'/case/' + case.hash">
        {{case.subject}}
      </a>
      <small>
        ({{case.user}} - {{case.deadline | toDate}})
      </small>
    </li>
  </ul>

</mat-card>
<div class="copyright">
  Anarchy is Copyright © Thomas Hansen, info@servergardens.com, all rights reserved
</div>
