/*
 * Anarchy, a Direct Democracy system. Copyright 2020 - Thomas Hansen thomas@servergardens.com
 */

h1 {
    display: block;
    text-align: center;
    margin-top: 2rem;
}
small.slogan {
    display: block;
    text-align: center;
    margin-top: .5rem;
    color: #a0a0a0;
    font-size: .85rem;
}
.info-card {
    margin: -.75rem 5rem 2rem 5rem;
    padding: 3rem;
    margin-top: 2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .add-case {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: #909090;
    }
    .front-page-cases {
        list-style-type: none;
        padding-left: 0;
        li {
            margin-top: 1rem;
            font-size: 1.2rem;
            .case-link {
                text-decoration: none;
            }
            small {
                font-size: .8rem;
                color: #a0a0a0;
            }
        }
    }
    .feed-more {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .regions {
        background-color: #f0f0f0;
        padding: 1rem 2rem 1rem 2rem;
        margin-top: 3rem;
        margin-left: -2rem;
        margin-right: -2rem;
        margin-bottom: -2rem;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: inline-block;
            li {
                float: left;
                margin-right: 1rem;
                .region-link {
                    text-decoration: none;
                    color: #a0a0a0;
                }
            }
        }
    }
}
