
mat-spinner {
  position: absolute;
  top: 5rem;
  right: 1rem;
  z-index: 1000;
}

mat-card {
  margin: 2rem auto 2rem auto;
  width: 60rem;
  padding: 3rem 3rem;
  position: relative;
  .visibility-description {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-style: italic;
    color: #777;
  }
  .button-strip {
    display: flex;
    .hyperlink {
      flex-grow: 1;
    }
    button {
      height: 38px;
    }
  }
}
