
<mat-card>

  <mat-form-field class="fill-width" appearance="outline">
    <mat-label>Content ...</mat-label>
    <textarea
      matInput
      [(ngModel)]="content"
      rows="10"></textarea>
  </mat-form-field>

  <div class="button-strip">

    <mat-form-field class="hyperlink">
      <mat-label>Link</mat-label>
      <input
        matInput
        [(ngModel)]="hyperlink"
        autocomplete="url">
    </mat-form-field>
  
    <mat-form-field class="small">
      <mat-label>Topic</mat-label>
      <mat-select [(ngModel)]="topic">
        <mat-option *ngFor="let idx of topics" [value]="idx">{{idx.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="small">
      <mat-label>Visibility</mat-label>
      <mat-select [(ngModel)]="visibility">
        <mat-option *ngFor="let idx of visibilities" [value]="idx">{{idx}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      [disabled]="!isGood()"
      mat-raised-button
      color="primary"
      (click)="submit()">
      Submit
    </button>

  </div>

  <div class="visibility-description">
    {{visibility === 'public' ? 'Post will be publicly visible for all, also people not registered at the site' : 'Post will only be visible for registered users at the site'}}
  </div>

</mat-card>
