
mat-spinner {
  position: absolute;
  top: 5rem;
  right: 1rem;
  z-index: 1000;
}

.visibility-description {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-style: italic;
  color: #777;
}
.button-strip {
  display: flex;
  .hyperlink {
    flex-grow: 1;
  }
  button {
    height: 38px;
  }
}

@media screen and (max-width: 800px) {
  .button-strip {
    display: block;
    text-align: left;
    .small {
      width: 5rem;
    }
    .hyperlink {
      display: block;
    }
    button {
      height: 38px;
      float: right;
    }
  }
}
