
<div class="component-wrapper">

  <div
    *ngIf="item"
    class="mat-elevation-z4 user">

    <a
      class="home-link"
      mat-button
      matTooltip="See all open cases"
      routerLink="/">
      <mat-icon>home</mat-icon>
    </a>

    <span
      class="username">
      {{item.username}}
    </span>

    <mat-icon
      class="verified"
      matTooltip="User has verified his email address"
      matSuffix
      *ngIf="item.status === 'verified'">
      check
    </mat-icon>

    <h1>{{item.name || item.username}}</h1>

    <div class="summary">

      <table class="summary-table">
        <tr>
          <th>Type</th>
          <th>Value</th>
        </tr>
        <tr>
          <td>
            Cases created
          </td>
          <td>
            {{item.cases}}
          </td>
        </tr>
        <tr>
          <td>
            Total votes
          </td>
          <td>
            {{getTotalVotes()}}
          </td>
        </tr>
        <tr *ngIf="item.phone">
          <td>
            Phone
          </td>
          <td>
            {{item.phone}}
          </td>
        </tr>
        <tr *ngIf="item.email">
          <td colspan="2">
            <a
              [href]="'mailto:' + item.email"
              class="email">
              {{item.email}}
            </a>
          </td>
        </tr>
      </table>

      <div
        class="summary-regions">
        <canvas
          *ngIf="shouldDisplayRegionChart()"
          baseChart
          chartType="bar"
          [options]="barChartOptions"
          [data]="barChartData"
          [labels]="barChartLabels"
          [colors]="barChartColors">
        </canvas>
      </div>

    </div>

    <div
      class="regions">
      <ul>
        <li
          *ngFor="let idx of item.regions">
          <a
            class="region-link"
            [routerLink]="'/region/' + idx.name">
            {{idx.name}}
          </a>
        </li>
      </ul>
    </div>

    <ul
      *ngIf="cases !== null"
      class="cases">
      <li
        *ngFor="let idx of cases">
        <a
          class="case-link"
          [ngClass]="idx.voted === 1 ? 'voted' : ''"
          [matTooltip]="idx.voted === 1 ? 'You have already voted for this case' : 'You have not given your vote in this case'"
          [routerLink]="'/case/' + idx.id">
          {{idx.subject}}
        </a>
        <small>
          {{capitalize(idx.region)}} ({{idx.positive + '/' + (idx.votes - idx.positive)}})
        </small>
      </li>
    </ul>

  </div>

</div>
