
<div class="component-wrapper">

  <div
    *ngIf="item"
    class="mat-elevation-z4 case">
    <a
      class="home-link"
      routerLink="/">
      home
    </a>
    <span
      class="username">
      {{item.username}}
    </span>
    <mat-icon
      class="verified"
      matTooltip="User has verified his email address"
      matSuffix
      *ngIf="item.status === 'verified'">
      check
    </mat-icon>
    <h1>
      {{item.name || item.username}}
    </h1>
    <div class="summary">
      <table class="summary-table">
        <tr>
          <th>Type</th>
          <th>No</th>
        </tr>
        <tr>
          <td>
            Cases created
          </td>
          <td>
            {{item.cases}}
          </td>
        </tr>
        <tr>
          <td>
            Total votes
          </td>
          <td>
            {{getTotalVotes()}}
          </td>
        </tr>
      </table>
      <div
        class="summary-regions">
        <label
          *ngIf="shouldDisplayRegionChart()">Regions user has voted within</label>
        <canvas
          *ngIf="shouldDisplayRegionChart()"
          baseChart
          chartType="bar"
          [options]="barChartOptions"
          [data]="barChartData"
          [labels]="barChartLabels"
          [colors]="barChartColors">
        </canvas>
      </div>
    </div>
    <div
      class="regions">
      <ul>
        <li
          *ngFor="let idx of item.regions">
          <a
            class="region-link"
            [routerLink]="'/region/' + idx.name">
            {{idx.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
