
/*
 * Block button.
 */
.block-button {
  position: absolute;
  top: .5rem;
  right: .5rem;
}

/*
 * Entity value, such as name, username, licks, etc.
 */
.entity {
  display: block;
  font-weight: bold;
  margin-bottom: .25rem;
  color: #777;
}

/* Overrides for full name and username of user */
.full_name {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 1rem;
}

/* Override for karma entity */
.karma {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #000;
}

/*
 * Separates user data from posts created by user.
 */
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*
 * User's posts in system.
 */
.feed {
  padding: 0;
  li {
    list-style-type: none;
    background-color: rgba(0,0,0,0);
    a {
      text-decoration: none;
      display: block;
      padding: .25rem .5rem .25rem .5rem;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .right {
        float: right;
      }
    }
  }
  li:hover {
    background-color: rgba(0,0,0,.05);
    border-radius: .5rem;
  }
  .moderated {
    text-decoration: line-through;
  }
}

/*
 * Retrieve more posts button.
 */
.feed-more {
  text-align: center;
  margin-bottom: -1rem;
}
