/*
 * Anarchy, a Direct Democracy system. Copyright 2020 - Thomas Hansen thomas@servergardens.com
 */

.case {
    margin:1rem 5rem 2rem 5rem;
    padding: 3rem;
    margin-top: 3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .home-link {
        position: absolute;
        top: 1rem;
        left: 1rem;
        text-decoration: none;
    }
    .username {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: #a0a0a0;
        font-style: italic;
    }
    .summary {
        display: flex;
        .summary-table {
            flex: 1;
            tr {
                th {
                    text-align: left;
                }
            }
        }
        .summary-chart {
            flex: 1;
        }
        .summary-avatar {
            flex: 1;
        }
    }
}
