/*
 * AnarQ, a Direct Democracy system. Copyright 2020 - Thomas Hansen thomas@servergardens.com
 */

 @media (min-width: 1024px) {
    .user {
        padding: 4rem 2rem 0 2rem;
    }
}

@media (max-width: 1024px) {
    .user {
        padding: 0 2rem 0 2rem;
    }
}

.user {
    margin-top: 4rem;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 2rem;
    .username-wrapper {
        mat-icon {
            float: left;
            margin-right: 1rem;
        }
        .username {
            float: left;
            color: #a0a0a0;
            font-size: 1.2rem;
            margin: 0 auto 1rem auto;
            display: block;
        }
    }
    .username-wrapper:after {
        display: table;
        content: ' ';
        clear: both;
    }
    @media (min-width: 1024px) {
        .summary {
            display: flex;
            .summary-table {
                border-collapse: collapse;
                flex: 1;
                margin-left: -1rem;
                tr {
                    td {
                        border-bottom: solid 1px #f0f0f0;
                        padding: .5rem 1rem .5rem 1rem;
                        .email {
                            text-decoration: none;
                        }
                    }
                    td:nth-child(2) {
                        text-align: right;
                    }
                }
                tr:hover {
                    background-color: rgba(0,0,0,.1);
                }
            }
            .summary-regions {
                margin-left: 1rem;
                flex: 1;
                label {
                    text-align: center;
                    display: block;
                    color: #a0a0a0;
                    margin-bottom: .5rem;
                    font-size: .8rem;
                }
            }
            .summary-winnings {
                flex: 1;
                margin-left: 1rem;
                width: 25%;
                label {
                    text-align: center;
                    display: block;
                    color: #a0a0a0;
                    margin-bottom: .5rem;
                    font-size: .8rem;
                }
            }
        }
    }
    @media (max-width: 1024px) {
        .summary {
            display: block;
            .summary-table {
                border-collapse: collapse;
                tr {
                    td {
                        border-bottom: solid 1px #f0f0f0;
                        padding: .5rem 0 .5rem 0;
                        .email {
                            text-decoration: none;
                        }
                    }
                    td:nth-child(2) {
                        text-align: right;
                        display: table-cell;
                    }
                }
                tr:hover {
                    background-color: rgba(0,0,0,.1);
                }
            }
            .summary-table,
            .summary-regions,
            .summary-winnings {
                label {
                    text-align: center;
                    display: block;
                    color: #a0a0a0;
                    margin-bottom: .5rem;
                    font-size: .8rem;
                }
            }
            .summary-regions, .summary-winnings {
                margin-top: 2rem;
            }
        }
    }
    .regions {
        background-color: #f0f0f0;
        padding: 1rem 2rem 1rem 2rem;
        margin-top: 1rem;
        margin-left: -2rem;
        margin-right: -2rem;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: inline-block;
            li {
                float: left;
                margin-right: 1rem;
                text-transform: capitalize;
                .region-link {
                    text-decoration: none;
                }
            }
        }
    }
    .cases {
        list-style-type: none;
        padding: 0;
        margin: 2rem 0 2rem 0;
        li {
            margin-top: 1rem;
            font-size: 1.2rem;
            small {
                font-size: .8rem;
                color: #a0a0a0;
            }
        }
        li {
            a.voted {
                color: #a0a0a0;
            }
        }
    }
}
