
mat-card {
  margin: 2rem auto 2rem auto;
  width: 60rem;
  padding: 3rem 3rem;
  position: relative;
  .create {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .feed {
    padding: 0;
    font-size: 1.2rem;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
      }
    }
  }
}
