
<mat-card>

  <a
    *ngIf="stateService.isLoggedIn"
    class="create"
    mat-button
    routerLink="/create">
    New ...
  </a>

  <ul *ngIf="posts.length > 0" class="feed">
    <li *ngFor="let idx of posts" [class]="idx.visibility">
      <mat-icon *ngIf="idx.visibility === 'public'">public</mat-icon>
      <mat-icon *ngIf="idx.visibility === 'friends'">security</mat-icon>
      <mat-icon *ngIf="idx.visibility === 'moderated'">block</mat-icon>
      <a [routerLink]="'/post/' + idx.id">
        [{{idx.licks}}] {{idx.excerpt}} - [{{idx.user}}]
      </a>
    </li>
  </ul>

</mat-card>