
mat-card {
  margin: 2rem auto 2rem auto;
  width: 60rem;
  padding: 3rem 3rem;
  position: relative;
  .button-strip {
    margin-top: -2rem;
    margin-right: -2rem;
  }
  .feed {
    padding: 0;
    li {
      list-style-type: none;
      margin-bottom: .5rem;
      a {
        font-size: 1.2rem;
        text-decoration: none;
      }
    }
    .moderated {
      text-decoration: line-through;
    }
  }
}
