
<mat-card>

  <div class="button-strip">

    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="minuteFilter" (change)="filterHot(group.value)">

      <mat-button-toggle value="60">Last hour</mat-button-toggle>

      <mat-button-toggle value="1440">Today</mat-button-toggle>

      <mat-button-toggle value="10080">This week</mat-button-toggle>

      <mat-button-toggle value="42336">This month</mat-button-toggle>

    </mat-button-toggle-group>

  </div>

  <ul *ngIf="posts.length > 0" class="feed">
    <li *ngFor="let idx of posts" [class]="idx.visibility">
      <a [routerLink]="'/post/' + idx.id">
        [{{idx.licks}}] - {{idx.excerpt}}
      </a>
    </li>
  </ul>

  <div
    *ngIf="posts && posts.length >= 10 && posts.length % 10 === 0"
    class="feed-more">
    <button
      mat-button
      (click)="feedMore()">More</button>
  </div>

</mat-card>