
<h1>Users in system</h1>

<div class="component-wrapper">

  <div
    class="mat-elevation-z4 users">

    <a
      class="home-link"
      mat-button
      [matTooltip]="translate('Home')"
      routerLink="/">
      <mat-icon>close</mat-icon>
    </a>

    <mat-form-field
      class="filter">
      <mat-label>{{translate('Filter')}}</mat-label>
      <input
        matInput
        [placeholder]="translate('Filter')"
        type="text"
        autocomplete="off"
        [formControl]="filter">
    </mat-form-field>

    <ul
      class="users-list">
      <li
        *ngFor="let idx of users">
        <a
          [routerLink]="'/user/' + idx.username">
          <span>
            {{idx.username}}
          </span>
          <small>
            {{idx.votes}} {{translate('VotesSmall')}}
          </small>
        </a>
      </li>
    </ul>

    <button
      *ngIf="more"
      mat-button
      class="feed-more"
      matTooltip="Get 25 next users"
      (click)="getNextBatch()">
      {{translate('More')}}
    </button>

  </div>

</div>
