
<a
  class="home-link"
  mat-button
  [matTooltip]="translate('Home')"
  routerLink="/">
  <mat-icon>home</mat-icon>
</a>

<div
  class="page">

  <mat-form-field
    class="filter users-filter">
    <mat-label>{{translate('Filter')}}</mat-label>
    <input
      matInput
      [placeholder]="translate('Filter')"
      type="text"
      autocomplete="off"
      [formControl]="filter">
      <mat-icon>search</mat-icon>
    </mat-form-field>

  <ul
    class="list">
    <li
      *ngFor="let idx of users">
      <a
        [routerLink]="'/user/' + idx.username">
        <span>
          {{idx.username}}
        </span>
        <small>
          {{idx.votes}} {{translate('VotesSmall')}}
        </small>
      </a>
    </li>
  </ul>

  <div
    class="page-next"
    *ngIf="users.length >= 25">
    <a
      class="page-next"
      [routerLink]="['/']"
      [queryParams]="{offset: offset + 25}">
      {{translate('Get25NextItems')}}
    </a>
  </div>

</div>
