/*
 * AnarQ, a Direct Democracy system. Copyright 2020 - Thomas Hansen thomas@servergardens.com
 */

 h1 {
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

@media (max-width: 1024px) {
    h1 {
        text-align: left;
    }
}

.region {
    .add-case {
        position: absolute;
        top: 0;
        right: 1rem;
        width: 5rem;
    }
}
