
<h1
  *ngIf="region"
  [matTooltip]="translate('ThePeoplesCourt', [capitalize(region)])">
  {{region}}
</h1>

<mat-card class="info-card">

  <button
    mat-stroked-button
    class="add-case"
    *ngIf="canCreateCase"
    (click)="askQuestion()"
    [matTooltip]="translate('BringForthAQuestion', [capitalize(region)])">
    ?
  </button>

  <a
    class="home-link"
    mat-button
    [matTooltip]="translate('SeeAllOpenCases')"
    routerLink="/">
    <mat-icon>home</mat-icon>
  </a>

  <div
    *ngIf="cases.length === 0"
    class="information">
    <span>
      {{translate('SeemsAllCaughtUp')}}
    </span>
    <span *ngIf="canCreateCase">
      {{translate('WhyNotCreate')}}
    </span>
  </div>

  <ul class="region-cases">
    <li *ngFor="let case of cases">
      <a
        class="case-link"
        [routerLink]="'/case/' + case.id">
        {{case.subject}}
      </a>
      <small>
        ({{getCount(case)}})
      </small>
    </li>
  </ul>

  <button
    *ngIf="more"
    mat-button
    class="feed-more"
    [matTooltip]="translate('GetXNextItems', ['25'])"
    (click)="getCases()">
    ...
  </button>

</mat-card>
