/*
 * AnarQ, a Direct Democracy system. Copyright 2020 - Thomas Hansen thomas@servergardens.com
 */

 h1 {
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

@media (min-width: 1024px) {
    .region {
        padding: 0 2rem 3rem 2rem;
    }
}

@media (max-width: 1024px) {
    h1 {
        text-align: left;
    }
    .region {
        padding: 0 2rem 3rem 2rem;
    }
}

.region {
    margin-top: 4rem;
    padding-top: 2rem;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .add-case {
        position: absolute;
        top: 0;
        right: 1rem;
        width: 5rem;
    }
}
