
<h1
  *ngIf="region"
  [matTooltip]="'The People\'s Court of Law @ The Independent Republic of ' + capitalize(region)">
  {{region}}
</h1>

<mat-card class="info-card">

  <button
    mat-stroked-button
    class="add-case"
    *ngIf="canCreateCase"
    (click)="askQuestion()"
    [matTooltip]="'Bring forth a question to the people\'s court of ' + capitalize(region)">
    ?
  </button>

  <a
    class="home-link"
    mat-button
    matTooltip="See all open cases"
    routerLink="/">
    <mat-icon>home</mat-icon>
  </a>

  <div
    *ngIf="cases.length === 0"
    class="information">
    <span>
      Seems that you are all caught up.
    </span>
    <span *ngIf="canCreateCase">
      Why don't you create a new case yourself?
    </span>
  </div>

  <ul class="region-cases">
    <li *ngFor="let case of cases">
      <a
        class="case-link"
        [routerLink]="'/case/' + case.id">
        {{case.subject}}
      </a>
      <small>
        ({{getCount(case)}})
      </small>
    </li>
  </ul>

  <button
    *ngIf="more"
    mat-button
    class="feed-more"
    matTooltip="Get 25 next items"
    (click)="getCases()">
    ...
  </button>

</mat-card>
