
<h1 *ngIf="region">{{region}}</h1>

<mat-card class="info-card">

  <button
    mat-stroked-button
    class="add-case"
    *ngIf="canCreateCase"
    (click)="askQuestion()"
    [matTooltip]="'Bring forth a question to the people\'s court of ' + getRegion(region)">
    <mat-icon
      matSuffix>
      account_balance
    </mat-icon>
  </button>

  <a
    class="home-link"
    mat-button
    routerLink="/">
    <mat-icon>home</mat-icon>
  </a>

  <div
    *ngIf="hasNoCases()"
    class="information">
    Seems that you are all caught up :)
  </div>

  <ul class="region-cases">
    <li *ngFor="let case of cases">
      <a
        class="case-link"
        [routerLink]="'/case/' + case.id">
        {{case.subject}}
      </a>
      <small>
        ({{getCount(case)}})
      </small>
    </li>
  </ul>

  <button
    *ngIf="more"
    mat-button
    class="feed-more"
    matTooltip="Get 5 next items"
    (click)="getMore()">
    ...
  </button>

</mat-card>
