/*
 * Anarchy, a Direct Democracy system. Copyright 2020 - Thomas Hansen thomas@servergardens.com
 */

 h1 {
    display: block;
    text-align: center;
    margin-top: 2rem;
    text-transform: capitalize;
}
.info-card {
    margin:1rem 5rem 2rem 5rem;
    padding: 3rem 3rem 7rem 3rem;
    margin-top: 3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    .add-case {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        width: 10rem;
    }
    .region-cases {
        list-style-type: none;
        padding-left: 0;
        li {
            margin-top: 1rem;
            font-size: 1.2rem;
            .case-link {
                text-decoration: none;
            }
            small {
                font-size: .8rem;
                color: #a0a0a0;
            }
        }
    }
    .feed-more {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
