
mat-card {
  margin: 2rem auto 2rem auto;
  width: 60rem;
  padding: 3rem 3rem;
  position: relative;
  .karma {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #777;
    span {
      font-size: 1.3rem;
      vertical-align: top;
    }
    mat-icon {
      font-size: 1.3rem;
      margin-right: .25rem;
    }
  }
  blockquote {
    font-size: 1.1rem;
    color: #aaa;
  }
  .moderate {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
  }
  .meta {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: .8rem;
    font-style: italic;
    color: #999;
  }
  .comment {
    background-color: rgb(245, 245, 245);
    margin-bottom: 1rem;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: .5rem;
    position: relative;
  }
}
