
mat-card {
  margin: 2rem auto 2rem auto;
  width: 60rem;
  padding: 3rem 3rem;
  position: relative;
  .visibility {
    display: block;
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: #777;
  }
  .moderate {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
  }
  .created {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: .8rem;
    font-style: italic;
    color: #999;
  }
  .comment {
    background-color: rgb(245, 245, 245);
    margin-bottom: 1rem;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: .5rem;
  }
}
