
<mat-card *ngIf="post">

  <div class="karma">
    <mat-icon *ngIf="post.visibility === 'public'" matTooltip="Post is publicly visible for everybody">public</mat-icon>
    <mat-icon *ngIf="post.visibility === 'friends'" matTooltip="Post is only visible for registered user">security</mat-icon>
    <mat-icon *ngIf="post.visibility === 'moderated'" matTooltip="Post has been moderated and only admins can see it">block</mat-icon>
    <span matTooltip="Post karma">{{post.licks}}</span>
  </div>

  <button
    *ngIf="stateService.isModerator && post && post.visibility !== 'moderated'"
    class="moderate"
    mat-button
    (click)="moderate()">
    Moderate
  </button>

  <div class="meta">Posted {{post.created | since}} by <a [routerLink]="'/users/' + post.user">{{post.user}}</a></div>

  <div class="content" [innerHtml]="post.content | md"></div>

</mat-card>

<mat-card *ngIf="comments && comments.length > 0">

  <div *ngFor="let idx of comments" class="comment">
    <div class="meta">Posted {{idx.created | since}} by <a [routerLink]="'/users/' + post.user">{{idx.user}}</a></div>
    <div [innerHtml]="idx.content | md"></div>
  </div>

  <div *ngIf="post && (post.visibility === 'public' || post.visibility === 'friends') && stateService.isVerified">

    <mat-form-field class="fill-width">
      <mat-label>Comment (Markdown OK) ...</mat-label>
      <textarea
        matInput
        [(ngModel)]="comment"
        rows="10"></textarea>
    </mat-form-field>

    <div class="button-strip">

      <button
        mat-raised-button
        color="primary"
        (click)="submitComment()">
        Submit
      </button>

    </div>

  </div>

</mat-card>
