
<mat-card
  *ngIf="is404"
  class="big-404">

  <h1>404 - Page seems to have escaped from its Kokorona prison :/</h1>
  <img src="../assets/anarq.svg">

</mat-card>

<mat-card *ngIf="post">

  <mat-icon
    class="moderated-icon"
    matTooltip="Moderated by admin"
    *ngIf="post.visibility === 'moderated'">block</mat-icon>

  <button
    *ngIf="stateService.isModerator && post && post.visibility !== 'moderated'"
    class="moderate"
    mat-button
    (click)="moderate()">
    Moderate
  </button>

  <button
    *ngIf="stateService.isModerator && post && post.visibility === 'moderated'"
    class="moderate"
    mat-button
    (click)="unModerate()">
    Publish
  </button>

  <div class="meta">
    Posted {{post.created | since}} by <a [routerLink]="'/user/' + post.user">{{post.user}}</a>,
    {{post.licks}} licks, {{post.visibility}}
  </div>

  <button
    *ngIf="canLike()"
    mat-icon-button
    [color]="liked ? 'primary' : 'secondary'"
    class="like-button"
    (click)="likePost()">
    <mat-icon>thumb_up</mat-icon>
  </button>

  <div
    class="content"
    [innerHtml]="post.content | md"></div>

</mat-card>

<div
  class="comments"
  *ngIf="comments">

  <mat-card
    *ngFor="let idx of comments"
    [class]="'comment ' + idx.visibility">

    <mat-icon
      *ngIf="idx.visibility === 'moderated'"
      class="moderated-icon"
      matTooltip="Moderated by admin">block</mat-icon>

    <div class="meta">
      Posted {{idx.created | since}} by <a [routerLink]="'/user/' + post.user">{{idx.user}}</a>
    </div>

    <div
      class="content"
      [innerHtml]="idx.content | md"></div>

    <button
      *ngIf="stateService.isModerator && idx.visibility !== 'moderated'"
      class="moderate"
      mat-button
      (click)="moderateComment(idx)">
      Moderate
    </button>

    <button
      *ngIf="stateService.isModerator && idx.visibility === 'moderated'"
      class="moderate"
      mat-button
      (click)="unModerateComment(idx)">
      Publish
    </button>

  </mat-card>

  <mat-card
    *ngIf="post && (post.visibility === 'public' || post.visibility === 'friends') && stateService.isVerified">

    <mat-form-field
      class="fill-width"
      appearance="outline">

      <mat-label>Comment ...</mat-label>
      <textarea
        matInput
        [(ngModel)]="comment"
        rows="10"></textarea>

    </mat-form-field>

    <div class="button-strip">

      <button
        mat-raised-button
        color="primary"
        (click)="submitComment()">
        Submit
      </button>

    </div>

  </mat-card>

</div>
