/* You can add global styles to this file, and also import other style files */

html, body {
  height: auth;
  min-height: 100%;
}
body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fill-width {
  width: 100%;
}

.button-strip {
  text-align: right;
  mat-form-field {
    margin-right: 1rem;
    display: inline-block;
  }
  .small {
    width: 7rem;
  }
}

a {
  text-decoration: none;
}
