
/*
 * Globally changing appearance of elements.
 */
html, body {
  height: auto;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

/*
 * Wireframe styles.
 */
app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  z-index: 1000;
}

.router-content {
  margin-top: 4rem;
  display: block;
  overflow: auto;
  height: auto;
  width: 100vw;
  min-height: calc(100vh - 7rem);
  background-color: #d9caf3;
  padding-bottom: 3rem;
}

mat-card {
  margin: 2rem auto 2rem auto;
  width: 60rem;
  padding: 2rem 2rem 3rem 2rem !important;
  position: relative;
  overflow: auto;
}

/*
 * Overrides for clients with smaller pixel resolution.
 */
 @media screen and(max-width: 1024px) {
  mat-card {
    width: 100vw;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
  }
}

/*
 * Utility styles.
 */
.fill-width {
  width: 100%;
}

.button-strip {
  text-align: right;
  mat-form-field {
    margin-right: 1rem;
    display: inline-block;
  }
  .small {
    width: 7rem;
  }
}

/*
 * 404 - Page not found parts.
 */
 .big-404 {
  text-align: center;
  height: 15rem;
  margin-top: 5rem;
}
