
<a
  class="home-link"
  mat-button
  [matTooltip]="translate('Home')"
  routerLink="/">
  <mat-icon>home</mat-icon>
</a>

<div
  class="mat-elevation-z4 page reset-password">

  <h3>
    {{translate('ResetYourPassword')}}
  </h3>

  <div class="form-row">

    <mat-form-field>
      <mat-label>
        {{translate('Password')}}
      </mat-label>
      <input
        matInput
        [placeholder]="translate('Password') + ' ...'"
        [type]="passwordReadable ? 'text' : 'password'"
        autocomplete="new-password"
        [(ngModel)]="password">
      <mat-icon
        (click)="togglePasswordReadability()">remove_red_eye</mat-icon>
    </mat-form-field>

  </div>

  <div class="form-row">

    <mat-form-field>
      <mat-label>
        {{translate('RepeatPassword')}}
      </mat-label>
      <input
        matInput
        [placeholder]="translate('RepeatPassword') + ' ...'"
        [type]="passwordReadable ? 'text' : 'password'"
        autocomplete="new-password"
        [(ngModel)]="passwordRepeat">
    </mat-form-field>

  </div>

  <div class="form-row right">
    <button
      mat-raised-button
      (click)="resetPassword()">
      {{translate('CreateNewPassword')}}
    </button>
  </div>

</div>
