
<div class="component-wrapper">

  <div class="mat-elevation-z4 relativized grid-wrapper">

    <h3>Cases</h3>

    <button
      mat-button
      *ngIf="inRole(['root','admin', 'user'])"
      class="top-right"
      (click)="createNewRecord()">New ...</button>

    <table
      mat-table
      multiTemplateDataRows
      [dataSource]="data">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="outline" class="fill-width filter-textbox">
            <mat-label>id</mat-label>
            <input
              matInput
              placeholder="Filter ..."
              type="number"
              autocomplete="off"
              [formControl]="id">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <button
            class="sort-button"
            (click)="sort('id')"
            mat-button>
            <mat-icon matSuffix>{{getSortIcon('id')}}</mat-icon>
          </button>
          <label class="table-header">id</label>
        </th>
        <td mat-cell (click)="toggleDetails(el)" *matCellDef="let el">{{el.id}}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="outline" class="fill-width filter-textbox">
            <mat-label>type</mat-label>
            <input
              matInput
              placeholder="Filter ..."
              type="text"
              autocomplete="off"
              [formControl]="type">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <button
            class="sort-button"
            (click)="sort('type')"
            mat-button>
            <mat-icon matSuffix>{{getSortIcon('type')}}</mat-icon>
          </button>
          <label class="table-header">type</label>
        </th>
        <td mat-cell (click)="toggleDetails(el)" *matCellDef="let el">{{el.type}}</td>
      </ng-container>
      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="outline" class="fill-width filter-textbox">
            <mat-label>region</mat-label>
            <input
              matInput
              placeholder="Filter ..."
              type="text"
              autocomplete="off"
              [formControl]="region">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <button
            class="sort-button"
            (click)="sort('region')"
            mat-button>
            <mat-icon matSuffix>{{getSortIcon('region')}}</mat-icon>
          </button>
          <label class="table-header">region</label>
        </th>
        <td mat-cell (click)="toggleDetails(el)" *matCellDef="let el">{{el.region}}</td>
      </ng-container>
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="outline" class="fill-width filter-textbox">
            <mat-label>user</mat-label>
            <input
              matInput
              placeholder="Filter ..."
              type="text"
              autocomplete="off"
              [formControl]="user">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <button
            class="sort-button"
            (click)="sort('user')"
            mat-button>
            <mat-icon matSuffix>{{getSortIcon('user')}}</mat-icon>
          </button>
          <label class="table-header">user</label>
        </th>
        <td mat-cell (click)="toggleDetails(el)" *matCellDef="let el">{{el.user}}</td>
      </ng-container>
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="outline" class="fill-width filter-textbox">
            <mat-label>created</mat-label>
            <input
              matInput
              placeholder="Filter ..."
              type="text"
              autocomplete="off"
              [formControl]="created">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <button
            class="sort-button"
            (click)="sort('created')"
            mat-button>
            <mat-icon matSuffix>{{getSortIcon('created')}}</mat-icon>
          </button>
          <label class="table-header">created</label>
        </th>
        <td mat-cell (click)="toggleDetails(el)" *matCellDef="let el">{{el.created | formatDate}}</td>
      </ng-container>
      <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="outline" class="fill-width filter-textbox">
            <mat-label>deadline</mat-label>
            <input
              matInput
              placeholder="Filter ..."
              type="text"
              autocomplete="off"
              [formControl]="deadline">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <button
            class="sort-button"
            (click)="sort('deadline')"
            mat-button>
            <mat-icon matSuffix>{{getSortIcon('deadline')}}</mat-icon>
          </button>
          <label class="table-header">deadline</label>
        </th>
        <td mat-cell (click)="toggleDetails(el)" *matCellDef="let el">{{el.deadline | formatDate}}</td>
      </ng-container>
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="outline" class="fill-width filter-textbox">
            <mat-label>subject</mat-label>
            <input
              matInput
              placeholder="Filter ..."
              type="text"
              autocomplete="off"
              [formControl]="subject">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <button
            class="sort-button"
            (click)="sort('subject')"
            mat-button>
            <mat-icon matSuffix>{{getSortIcon('subject')}}</mat-icon>
          </button>
          <label class="table-header">subject</label>
        </th>
        <td mat-cell (click)="toggleDetails(el)" *matCellDef="let el">{{el.subject}}</td>
      </ng-container>
      <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="outline" class="fill-width filter-textbox">
            <mat-label>body</mat-label>
            <input
              matInput
              placeholder="Filter ..."
              type="text"
              autocomplete="off"
              [formControl]="body">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <button
            class="sort-button"
            (click)="sort('body')"
            mat-button>
            <mat-icon matSuffix>{{getSortIcon('body')}}</mat-icon>
          </button>
          <label class="table-header">body</label>
        </th>
        <td mat-cell (click)="toggleDetails(el)" *matCellDef="let el">{{el.body}}</td>
      </ng-container>

      <ng-container matColumnDef="delete-instance">
        <th
          mat-header-cell
          *matHeaderCellDef
          [ngClass]="inRole(['root','admin']) ? 'delete-column' : 'hidden'"></th>

        <td
          mat-cell
          *matCellDef="let el"
          [ngClass]="inRole(['root','admin']) ? 'delete-column' : 'hidden'">
          <button
            mat-button
            (click)="delete(el, {id: el.id})"
            placeholder="Deletes this record">
            <mat-icon matSuffix>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <td
          mat-cell
          *matCellDef="let el"
          colspan="10">
          <div
            class="details-sheet"
            *ngIf="shouldDisplayDetails(el)">
            <button
              mat-button
              class="close-details"
              (click)="toggleDetails(el)">
              <mat-icon matSuffix>close</mat-icon>
            </button>
            <button
              *ngIf="inRole(['root','admin'])"
              mat-button
              class="edit-details"
              (click)="editDetails(el)">
              <mat-icon matSuffix>edit</mat-icon>
            </button>
            <h2 class="title">{{el.subject}}</h2>
            <div class="body" [innerHtml]="el.body | marked"></div>
            <p class="details"><label>type</label><span>{{el.type}}</span></p>
            <p class="details"><label>region</label><span>{{el.region}}</span></p>
            <p class="details"><label>user</label><span>{{el.user}}</span></p>
            <p class="details"><label>created</label><span>{{el.created | formatDate}}</span></p>
            <p class="details"><label>deadline</label><span>{{el.deadline | formatDate}}</span></p>
          </div>
        </td>
      </ng-container>

      <tr
        mat-header-row
        [class]="getHeaderRowClass()"
        *matHeaderRowDef="displayedColumns"></tr>

      <tr
        mat-row
        [ngClass]="getClassForRecord(row)"
        *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr
        mat-row
        [ngClass]="getClassForDetails(row)"
        *matRowDef="let row; columns: ['details']; "></tr>

    </table>
    <mat-paginator
      [class]="showPager() ? '' : 'invisible'"
      #paginator
      [(length)]="count"
      [(pageSize)]="filter.limit"
      (page)="paged($event)"
      [pageSizeOptions]="[5,10,25,50]">
    </mat-paginator>

  </div>

</div>
